{% extends "FOSUserBundle::layout.html.twig" %}

{% block menu %}
    {% set menu = {
        'Dashboard': 'admin_dashboard',
        'Posty': 'admin_posts',
        'Tagi': 'admin_tags',
        'Kategorie': 'admin_categories',
        'Users' : 'admin_users'
    } %}
    
    {% for name, route in menu %}
        {% if app.request.get('_route') == route %}
            {% set class = 'active' %}
        {% else %}
            {% set class = '' %}
        {% endif %}
        <li class="{{ class }}"><a href="{{ path(route) }}">{{ name }}</a></li>
    {% endfor %}
    <span class="admin_marker text-center">ADMIN PANEL</span>
{% endblock %}