body {
    background-color: #fff;
    font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
}

.logo {
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,.3);
}

.logo img {
    margin-left: 300px;
}

.logo .text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 3em;
    margin-left: 20px;
    font-family: 'Anton', sans-serif;
}

ul.nav li, a.navbar-brand {
    font-family: 'Anton', sans-serif;
    font-size: 1em;
}

.social {
    font-size: 2em;
    margin-top: 8px;
    margin-left: 10px;
}

.social a {
    color: #fff;
    display: inline-block;
    margin-top: 5px;
}

a {
    text-decoration: none !important;
}

ul.nav li {
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.log-in {
    /*margin-top: 10px;*/
    font-size: 1.1em;
}

.form-signin {
    max-width: 420px;
    padding: 25px;
    margin: 0 auto;
    box-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    background-color: #42c8f4;
}

.form-signin a {
    color: #000;
    padding-bottom: 10px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.left-side {
    width: 74%;
    float: left;
}

.right-side {
    width: 25%;
    float: right;
}

.panel-body {
    padding: 0;
}

.post, .single-post {
    padding: 20px 0;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .5);
    margin: 20px auto;
    width: 75%;
    transition: all .2s ease-in-out
}

.comments {
    width: 90%;
    margin: 0 auto;
}

.post:hover {
    box-shadow: 4px 4px 40px rgba(0, 0, 0, .9);
    transform: scale(1.04);
}

.post .panel img, .single-post .panel img{
    width: 100%;
    padding-bottom: 20px;
    background-size: cover;
}

.post .panel .post-content,  .single-post .panel .post-content {
    padding: 15px;
    color: #000;
}

hr {
    color: #b3b3b3;
    border-bottom: 2px solid #b3b3b3;
}

.post h3, .post .comments a {
    margin-left: 10px;
}

.detals {
    display: block;
    padding-bottom: 10px;
    margin-top: -10px;
}
.detals .author {
    float:left;
    margin-left: 10px;   
}

.detals .create-date {
    float: right;
    margin-right: 10px;
}

.cat {
    float: left;
    margin-left: 10px;
    margin-top: -10px;
}

.tag {
    float: right;
    margin-right: 10px;
    margin-top: -10px;
}

.panel {
    margin-top: 30px;
}

.search-form input {
    border-radius: 3px;
    font-size: 1.2em;
    border: 0;
    outline: none;
    line-height: 2.5rem;
    margin-top: 2.4rem;
    padding: 1.1rem;
    padding-left: 4.5rem;
    padding-right: 1.6rem;
    font-size: 1.5rem;
    opacity: .6;
    background-image: url('../img/icon-loup.png');
    background-position: .5em center;
    background-color: #eee;
    background-repeat: no-repeat;
    /*height: 5em;*/
    transition: opacity .2s ease;
}

.search-form input:focus {
    opacity: 1;
}

.search-form input[type="text"] {
    color: #000;
}

.right-menu, .tags, .top-commented {
    margin-top: 25px;
    padding: 5px;
    box-shadow: 1px 1px 2px #000;
    border-radius: 5px;
}

.right-menu h4, .tags h4, .top-commented h4 {
    margin-left: 10px;
    font-weight: bold;
}

.right-menu-content {
    margin-top: 20px;
}

.tags .tags-content a {
    display: inline-block;
    padding: 3px;
}

.registration, .paswd-reset, .form-edit, .change-paswd, .fos_user_user_show {
    max-width: 420px;
    padding: 25px;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color: #42c8f4;
    margin: 0 auto;
    box-shadow: 2px 2px 2px #000;
}

.registration img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-bottom: 10px;
    margin-left: 110px;
}

.registration a, .form-edit a, .change-paswd a, .fos_user_user_show a {
    margin-top: 5px;
    color: #000;
}

.custom-error ul li {
    margin-top: 5px;
    color: red;
}

.profile img {
    border-radius: 3px;
    margin-bottom: 25px;
    margin-left: 110px;
}

.comments .panel-body {
    padding: 20px;
}

textarea.form-control {
    resize: none;
    height: 100px;
    font-size: 1.2em;
}

#comment-form {
    margin-bottom: 50px;
}

.comment-header {
    margin-top: 20px;
    width: 200px;
    border-right: 1px solid rgba(0, 0, 0, .4);
}

.comment-header img {
    margin-left: 40px;
    margin-bottom: 10px;
}

.comment-header blockquote a {
    color: red;
}

.comment-content {
    font-size: 1.3em;
    padding: 20px;
}

.thumbs .fa {
    font-size: 1.5em;
    margin: 0 20px;
}

.flash_msg {
    width: 90%;
    margin: 20px auto;   
}

/*ADMIN*/

.post_admin .panel-body {
    padding: 20px;
}

.edit-panel img {
    width: 330px;
    max-height: 220px;
    margin: 12px 10px 10px 10px;
}

.edit-panel input[type="file"], .edit-panel textarea {
    margin-bottom: 10px;
}

.edit-panel button[type="submit"] {
    margin: 5px;
}

#post_createDate {
    text-align: center;
    margin-top: 15px;
}

#post_createDate input {
    border-radius: 4px;
    font-size: 1.1em;
    margin-right: 3px;
}

#post_category {
    margin-top: 15px;
}

#post_tags input {
    margin: 15px;
}

#add_btn {
    margin: 20px;
    font-size: 2em;
    color: rgba(0, 0, 0, .6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

td.tbl_actions a{
    font-size: 1.7em;
    color: #000;
    margin-left: 5px;
}

td em.tbl_tag {
    display: inline-block;
    background-color: rgba(0, 255, 255, .4);
    border-radius: 2px;
    padding: 0 5px;
}

.sortable a.sortable, .sortable a.asc, .sortable a.desc {
    padding-right: 15px;
    color: #333;
}

.sortable a.sortable{
    background: url(../img/icon-arrow-ns-dark.png) no-repeat right center;
}

.sortable a.asc {
    background: url(../img/icon-arrow-down-dark.png) no-repeat right center;
}

.sortable a.desc {
    background: url(../img/icon-arrow-up-dark.png) no-repeat right center;
}

.admin_marker {
    display: inline-block;
    font-size: 1em;
    color: green;
    background-color: antiquewhite;
    padding-top: 10px;
    height: 50px;
    width: 150px;
    margin-left: 100px;
}

.post-admin .panel .panel-body {
    margin-bottom: 30px;
}
