{% extends "FOSUserBundle::layout.html.twig" %}

{% block menu %}
    <li class="active"><a href="{{ path('main_page') }}">Lista postów<span class="sr-only">(current)</span></a></li>
    <li><a href="{{ path('blog_contact') }}">Kontakt</a></li>
{% endblock %}